.abcontent1{
    background: #0a213d; 
    background: linear-gradient(white,rgb(234, 12, 238),white);
    height: 8in;
    color: rgb(22, 2, 2);
    
}
.abcontent1:hover{
    transform: scale(1.03);
    border-top: solid black;
    border-bottom:solid black;
    transition-duration: 1s;
}
.abcontent1 h1{
    font-size: 85px;
    margin-bottom: 2.5cm;
    position: relative;
    top:1in;
    left: 2in;
}
.abcontent1 p{
    width: 12in;
    line-height: 30px;
    position: relative;
    top:2cm;
    opacity: 1;
    left: 2.7in;
    

   
}