.ccontent1{
   background:#23d3d3;
   background: linear-gradient(#eff9f9,#23d3d3,white);
   height: 14in;
}
.ccontent11{
    position: relative;
    top:3cm;
    left: 2in;
    font-size: 40px;
    width: 9in;
  
}
.ccontent12 p:nth-child(1){
    font-size: 20px;
    position: relative;
    top:5cm;
    width: 9in;
    left:2.5in;
    line-height: 40px;
}
.ccontent13{
    font-size: 20px;
    position: relative;
    top:7cm;
    left:2.5in;
    line-height: 40px;
    width: 9in;
   
}
.ccontent14{
    position: relative;
    left:2.5in ;
    top:4in;
    width: 9in;
 
}
::placeholder{
    color: black;
    position: relative;
    left:0.2cm;
    opacity: 0.5;
}
.ccontent141 input:nth-child(1){
    margin-right: 1.5cm;
    height: 1cm;
    width: 7cm;
    border-radius: 20px;
    border: solid;
    padding: 10px;
}
.ccontent141 input:nth-child(2){
    height: 1cm;
    width: 7cm;
    border-radius: 20px;
    border: solid;
    padding: 10px;
}
.ccontent142{
    display: inline;
    width: 9in;
}
.ccontent1421{
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
    width: 9in;
}
.ccontent1421 input{
    height: 1cm;
    width: 11cm;
    border-radius: 20px;
    border: solid;
    position: relative;
    padding: 10px;
}
.ccontent1422{
    margin-bottom: 1.5cm;
    width: 6in;
    height: 2in;
}
.ccontent1422 textarea{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    left: 10px;
    border: solid;
    padding: 10px;

}
.ccontent143 button{
     height: 1cm;
     width: 3cm;
     background-color: aqua;
     border-radius: 20px;
}